a {
text-decoration: none;
}
a:visited{

color:red;
}
a:active{
text-decoration: none;
color:green;
}
a:hover{
text-decoration: none;
}



@media(max-width:768px){
.table thead{
display:none;
}
.table, .table tbody,.table tr, .table td{
display:block;
width:100%;
}
.table tr{
margin-bottom:15px;
}
.table tbody tr td{
text-align:right;
padding-left:50%;
position:relative;
}
}



