body {
  font-family:sans-serif;
  margin-left: 10px;
  scroll-behavior:smooth;
  padding-left:10px;
  padding-right:10px;
   margin-right: 10px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 25px;
  margin-right:25px;



}
.card:hover{
transform:scale(1.3);
box-shadow:2px 2px 2px #000;
z-index: 2;
}



.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;

}

.container::after, .row::after {
  content: "";
  clear: both;

}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.center{
margin:auto;
width:100%;
border:5px  black;
padding-left:10%;
padding-right:10%;
}

.card{
width:100%;
margin-left:10px;

a:link{
color:red;
}




@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color:red;

}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background:#3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
