<!DOCTYPE html>
{% extends 'student_log_theme.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot_password</title>


</head>
<body>
    {% block content %}
            <header>
                      <nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top">
                      <img class="img-fluid rounded-circle p-2" src="{% static 'image\IMG-20220527-WA0001.jpg' %}" style="width:80px">
                                  <div class="p-3" style="color:white">
                                      <h4>JAIN HERITAGE INTERNATIONAL SCHOOL</h4>
                                  </div>
                     </nav>
            </header>
    <div class="center m-5 p-5" >
        <h1>Forgot Password</h1>
                <form  action="/forget_pass_edit" method="post">
                    {% csrf_token %}
                        <div class="txt_field">
                            <input name="username" type="text" required>
                            <span></span>
                            <label>Username</label>
                        </div>
                        <div class="txt_field">
                            <input name="npassword" type="password" required>
                            <span></span>
                            <label>New Password</label>
                        </div>
                        <div class="txt_field">
                            <input name="cpassword" type="password" required>
                            <span></span>
                            <label>Confirm Password</label>
                        </div>
                        <input type="submit" value="Submit">

                </form>
    </div>
{% endblock %}
</body>
</html>