<!DOCTYPE html>
{% extends 'student_log_theme.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student_login Page</title>


</head>
<body>
 {% block content %}
    <header>
              <nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top">
              <img class="img-fluid rounded-circle p-2" src="{% static 'image\IMG-20220527-WA0001.jpg' %}" style="width:80px">
                  <div class="p-3" style="color:white">
                      <h4>JAIN HERITAGE INTERNATIONAL SCHOOL</h4>
                  </div>
             </nav>
    </header>
    <div class="center m-5">
        <h1>Student Login Page</h1>
        <form method="post" action="/student_home">
            {% csrf_token %}
            <div class="txt_field">
                <input name="username" type="text" style="color:white;" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input name="password" type="password" style="color:white;" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass"><a href="/forget_pass">Forgot Password?</a></div>
            <input type="submit" value="Login">
            <div class="signup_link">
                Not a member? <a href="/student_reg">Signup</a>
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>