<!DOCTYPE html>
{% extends 'theme.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher-Student Register</title>


</head>
<body>
        {% block content %}
            <header>
              <nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top">
                  <img class="img-fluid rounded-circle p-2" src="{% static 'image\IMG-20220527-WA0001.jpg' %}" style="width:80px">
                  <div class="p-3" style="color:white">
                      <h4>JAIN HERITAGE INTERNATIONAL SCHOOL</h4>
                  </div>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left:60%">
                            <li class="nav-item">
                                <form action="/index">
                                    {% csrf_token %}
                                    <input type="submit" value="Home">
                                </form>
                            </li>

                        </ul>
                      <div class="container m-3">
                          <form action="/tregister">
                              {% csrf_token %}
                             <input type="submit" value="Admin">
                          </form>


                       </div>



                  </div>
              </nav>
            </header>
            <section style="margin-top:130px">
                <div class="container-fluid">
                  <div class="row m-2">
                    <div class="col-md-6 p-5" style="text-align:center">
                        <h4>Teacher</h4>
                        <p>The critical need everywhere in the world is for education to prepare students to lead successful, fulfilling lives. In today’s world, this means providing them with relevant educational experiences that nurture their passions, problem-solving abilities, and higher level thinking skills, including critical thinking and creativity. The best solutions involve teachers, students, schools, and whole communities.</p><br>
                        <p>To participate our community...</p>
                        <p>Kindly join with us(<i>Admin only</i>)</p>
                        <form action="/tregister">
                            {% csrf_token %}
                            <input  type="submit" class="btn btn-danger" value="Register"><br>
                        </form>

                        <br><p>Already a member?</p>
                        <form action="/tlogin">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Login">
                        </form>

                    </div>
                    <div class="col-md-6 p-5" style="text-align:center">
                        <h4>Student</h4>
                        <p>A good student is the one who can work in a group, motivate others and yield productive output. Being positive, helpful, cooperative and friendly are all the traits of a good student. Such students become great team players and leaders when they grow up.</p><br>
                       <br><br>
                        <p>To participate our community...</p>
                        <p>Kindly join with us</p>
                        <form action="/student_reg">
                            <input type="submit" class="btn btn-danger" value="Register">
                        </form>

                      <br> <br><p>Already a member?</p>
                        <form action="/student_log">
                            <button type="submit" class="btn btn-danger">Login</button>
                        </form>

                    </div>

                  </div>
                </div>
            </section>

    {% endblock %}


</body>
</html>